<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this by clicking on the link below.</p>

<a  target="_blank" rel="noopener noreferrer" href="<%= @token_link %>">Reset Your Password</a>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you reset the password using the token above.</p>